.Baskerville {
    font-family: 'Libre Baskerville', serif;
}

.is-italic {
    font-style: italic;
}

.montserrat {
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.is-bold {
    font-weight: 700;
}

.grace-ui.banner{
    width: 580px;
    height: 215px;
    /*background:bg-color(transparent) url() repeat left top scroll*/
    background: #fff url("../image/people.png") no-repeat 88px 9px;
    /*border: 1px solid #cdcdcd;*/
    box-shadow:0 0 4px rgba(0,0,0,0.2);
    /*둥근테두리*/
    border-radius:10px;
}

.is-centerXY{
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -107.5px;
    margin-left:-290px;
}

.banner-category{
    position:absolute;
    top: 95px;
    left: 19px;
    font-size: 12px;ㅇ
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.banner-headline{
    position:absolute;
    top: -8px;
    right: 62px;
    color: #dba68f;
    font-size:36px;
    line-height: 1.1111;
}



.banner-review{
/*위치*/position:absolute;top: 183px;left: 373px;}

.banner-review * {
    padding-left: 24px;
    font-size: 13px;


}

/*개별디자인*/

.banner-review .review-view{
background: url("../image/icon-view.svg") no-repeat 0 50%;
}
.banner-review .review-comments{
background: url("../image/icon-comments.png") no-repeat 0 50%;

}





.banner-review-link{
    position:absolute;
    top: 122px;
    right: 49px;
    padding: 0.8em 1.2em 1.07em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-size: 14px;
    color: #fff;
    background: #000;
    border-radius: 20px;
}