body {
    margin: 0;
}

.banner {
    overflow: hidden;
    width: 800px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -400px;
}

.banner * {
    position: absolute;
}

.banner.banner-bg ,
.banner.banner-apes ,
.banner.banner-golliras ,
.banner.banner-kingkong ,
.banner.banner-logo ,
.banner.banner-headline {
    position: absolute;
} 

/*.banner-bg{}*/
.banner-apes{
    bottom: 93px;
    left: 4px;
}
.banner-golliras{
    bottom: 24px;
    left: 11px;
}
.banner-kingkong{
    bottom: 0;
    right: 11px;
}
.banner-logo{
    top: 18px;
    left: 18px;
}
.banner-headline{
    top: 28px;
    left: 122px;
}